@media screen and (min-width: 0px) {
  .header-nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: none;
    width: 100%;

    .header-nav-right-account-link-logo {
      img {
        height: 4rem;
      }
    }

    .header-nav-right-cart-icon {
      position: relative;

      img {
        height: 4rem;
      }

      .cart-count {
        position: absolute;
        top: -3.5rem;
        color: var(--brand-primary);
        font-size: 2.2rem;
        left: 24px;
      }
      .cart-count.high-length {
        left: 14px;
      }
    }
    .header-nav-right-cart-link {
      display: none;
    }
  }

  .header-nav-right-account-link-text {
    display: none;
  }
}

@media screen and (min-width: 300px) {
  .header-nav-right {
    width: 30%;
  }
}

@media screen and (min-width: 768px) {
  .header-nav-right {
    order: 2;
    justify-content: flex-end;
    width: auto;
    gap: 3rem;
  }

  .header-nav-right-account-link-logo {
    display: none;
  }

  .header-nav-right-account-link-text {
    display: block;
    color: var(--main-lowest);
    font-size: var(--text-smaller);
    font-weight: var(--font-regular);

    .link--bold {
      display: flex;
      font-size: var(--text-medium);
      font-weight: var(--text-bold);
    }
  }
}

@media screen and (max-width: 80px) {
  .header-nav-right {
    display: none;
  }
}
